 .item1,
 .item2,
 .item3,
 .item4 {
     padding: 10px;
 }

 .container1 {
     display: flex;
     padding: 10px;
     border: 3px solid black;
     flex-direction: row;
 }

 .item {
     /* border: 2px solid black; */
     background-color: aqua;
     flex-direction: start;
     margin: 1.5rem;
 }

 .item2 {
     /* border: 2px solid black; */
     background-color: rgb(176, 127, 221);
     margin: 1.5rem;
 }

 .item3 {
     /* border: 2px solid black; */
     background-color: rgb(212, 123, 123);
     margin: 1.5rem;
 }

 .item4 {
     /* border: 2px solid black; */
     background-color: rgb(134, 134, 203);
     margin: 1.5rem;
 }

 .container2 {
     flex-direction: column;
     justify-content: start;
     flex-direction: column;
     width: 100px;
     border: 3px solid black;
 }

 .container3 {
     flex-direction: row-reverse;
     border: 3px solid black;
     justify-content: end;
     display: flex;
 }

 .container4 {
     flex-direction: column-reverse;
     border: 3px solid black;
     justify-content: end;
     display: flex;
     align-items: start;
 }

 .container5 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: start;
     display: flex;
     align-items: start;
     height: 500px;
 }

 .container6 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: start;
     display: flex;
     align-items: center;
     height: 500px;
 }

 .container7 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: start;
     display: flex;
     align-items: end;
     height: 500px;
 }

 .container8 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: start;
     display: flex;
     align-items: stretch;
     height: 500px;
 }

 .container9 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: start;
     display: flex;
     /* align-items: stretch; */
     /* height: 500px; */
 }

 .container10 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: center;
     display: flex;
     /* align-items: stretch; */
     /* height: 500px; */
 }

 .container11 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: end;
     display: flex;
     /* align-items: stretch; */
     /* height: 500px; */
 }

 .container12 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: space-between;
     display: flex;
     /* align-items: stretch; */
     /* height: 500px; */
 }

 .container13 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: space-around;
     display: flex;
     /* align-items: stretch; */
     /* height: 500px; */
 }

 .container14 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: space-evenly;
     display: flex;
     /* align-items: stretch; */
     /* height: 500px; */
 }

 .container15 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: start;
     display: flex;
     align-items: start;
     height: 500px;
 }

 .container16 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: start;
     display: flex;
     align-items: center;
     /* align-items: stretch; */
     height: 500px;
 }

 .container17 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: start;
     display: flex;
     align-items: end;
     /* align-items: stretch; */
     height: 500px;
 }

 .container18 {
     flex-direction: row;
     border: 3px solid black;
     justify-content: start;
     display: flex;
     align-items: stretch;
     /* align-items: stretch; */
     height: 500px;
 }

 .container19 {
     flex-direction: row;
     border: 3px solid black;
     /* justify-content: start; */
     display: flex;
     align-content:space-between;
     height: 500px;
     width: 500px;
     flex-wrap: wrap;
 }

 .container20 {
     flex-direction: row;
     border: 3px solid black;
     /* justify-content:  space-around; */
     display: flex;
     flex-wrap: wrap;
     align-content: space-around;
     height: 500px;
     width: 500px;
 }